* { 
    font-family: "Noto Sans JP", "Lato", sans-serif;
}
#loader {
    background-color: #0173C6;
    text-align: center;
    height: 100%;
    position: fixed;
    width: 100%;
    z-index: 999;
}
#loading {
    animation: loadinganime 1s linear infinite alternate;
    color: #FFF;
    font-weight: bold;
    font-size: 30px;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%,-50%);
    padding-bottom: 8px;
}
#loading:before {
    content:"Loading..."
  }
  @keyframes loadinganime {to{opacity: 0}}

header {
    align-items: center;
    background: #0173C6;
    display: flex;
    justify-content: space-between;
    padding: 25px 70px;
}
.header-logo img {
    height: auto;
    width: 257px;
}
.header-nav-list {
    display: flex;
    gap: 21px;
}
.header-nav-item {
    cursor: pointer;
    color: #FFF;
    font-size: 20px;
}
.header-nav-item a {
    font-family: "Lato";
    position: relative;
}
.header-nav-item a::after {
    background-color: #FFF;
    bottom: -3px;
    left: 0;
    height: 2px;
    content: "";
    position: absolute;
    transform: scale(0,1);
    transform-origin: left top;
    transition: transform 0.3s;
    width: 100%;
}
.header-nav-item a:hover::after{
    transform: scale(1,1);
}
.hamburger {
    display: none;
    height: 50px;
    position: relative;
    width: 50px;
    z-index: 20;
}
.hamburger span {
    border-radius: 20px;
    background-color: #FFF;
    height: 2px;
    left: 10px;
    position: absolute;
    transition: transform .5s ease;
    width: 30px;
}
.hamburger span:nth-child(1) {
    top: 18px;
}
.hamburger span:nth-child(2) {
    top: 26px;
}
.hamburger span:nth-child(3) {
    top: 34px;
}
.hamburger.active span:nth-child(1) {
    top: 24px;
    transform: rotate(45deg);
}
.hamburger.active span:nth-child(2) {
   opacity: 0;
}
.hamburger.active  span:nth-child(3) {
    top: 24px;
    transform: rotate(-45deg);
}
#g-nav {
    background: #0173C6;
    position: fixed;
    top: -120%;
    height: 100%;
    left: 0;
    transition: all .6s;
    width: 100%;
    z-index: 10;
}
#g-nav.navactive {
    top: 0;
}
.g-nav-list {
    display: flex;
    flex-direction: column;
    gap: 50px;
    left: 50%;
    position: absolute;
    text-align: center;
    transform: translate(-50%,-50%);
    top: 50%;
}
.g-nav-item {
    cursor: pointer;
    color: #FFF;
    font-size: 24px;
}
.g-nav-item a {
    font-family: "Lato";
    position: relative;
}
.g-nav-item a::after {
    background-color: #FFF;
    bottom: -3px;
    left: 0;
    height: 2px;
    content: "";
    position: absolute;
    transform: scale(0,1);
    transform-origin: left top;
    transition: transform 0.3s;
    width: 100%;
}
.g-nav-item a:hover::after{
    transform: scale(1,1);
}
.top{
    align-items: center;
    background: linear-gradient(90deg, rgba(168,202,240,1) 0%, rgba(233,240,250,1) 100%);
    display: flex;
    justify-content: center;
    padding: 80px 0;
}
#about {
    padding: 90px 0;
}
.about-card {
    background: #00508A;
    border-radius: 22px;
    color: #FFF;
    max-width: 1000px;
    margin: 0 auto;
    padding-bottom: 60px;
    position: relative;
}
.about-card::after {
    background: #DDDEDF;
    border-radius: 26px;
    content: "";
    height: 105%;
    position: absolute;
    right: 54px;
    left: -12px;
    transform: rotate(3deg);
    top: -10px;
    width: 105%;
    z-index: -1;
}
.about-card__title {
    font-family: "Lato";
    font-size: 48px;
    padding-top: 60px;
    text-align: center;
}
.about-card-content {
    align-items: center;
    display: flex;
    gap: 31px;
    justify-content: center;
    padding: 60px 62px 0 62px;
}
.about-card-content__profile {
    text-align: center;
    width: 50%;
}
.about-card-content__profile--img {
    background: #FFF;
    border-radius: 50%;
}
.about-card-content__profile--img img {
    width: 100%;
}
.about-card-content__profile p {
    font-family: "Lato";
    font-size: 28px;
    padding-top: 36px;
}
.about-card-content__text {
    font-size: 22px;
    width: 50%;
    line-height: 40px;
}
#skills {
    background: linear-gradient(90deg, rgba(168,202,240,1) 0%, rgba(233,240,250,1) 100%);
    padding-bottom: 120px;
}
.skills-title {
    color: #1A3348;
    font-family: "Lato";
    font-size: 48px;
    padding-top: 52px;
    text-align: center;
}
.skills-item-container {
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    display: flex;
    padding-top: 108px;
    max-width: 750px;
    margin: 0 auto;
}
.skills-item {
    height: auto;
    margin-bottom: 50px;
    text-align: center;
    width: calc(100% /3 - 50px);
}
.skills-item img {
    height: auto;
    width: 120px;

}
#works {
    padding-bottom: 110px;
}
.works-title {
    color: #1A3348;
    font-family: "Lato";
    font-size: 48px;
    padding-top: 52px;
    text-align: center;
}
.works-item-container {
    justify-content: center;
    flex-wrap: wrap;
    display: flex;
    gap: 50px;
    padding-top: 108px;
    max-width: 1040px;
    margin: 0 auto;
}
.works-item {
    padding-bottom: 50px;
    width: calc(50% - 80px);
}
.works-item__title {
    color: #1A3348;
    font-size: 20px;
    text-align: center;
    padding-bottom: 24px;
}
.works-item__img {
    overflow: hidden;
    position: relative;
}
.works-item__img img {
    width: 100%;
    transition: transform .6s ease;
}
.works-item__img:hover img{
    transform: scale(1.1);
}
.works-item__img::before {
    background: rgba(0, 0, 0, .3);
    content: "";
    height: 100%;
    opacity: 0;
    position: absolute;
    top: 0;
    transition: opacity .6s ease;
    left: 0;
    width: 100%;
    z-index: 1;
}
.works-item__img:hover::before {
    opacity: 1;
}
.works-item__pass {
    font-size: 14px;
}
#contact {
    background: linear-gradient(90deg, rgba(168,202,240,1) 0%, rgba(233,240,250,1) 100%);
    padding-bottom: 118px;
}
.contact-title {
    color: #1A3348;
    font-family: "Lato";
    font-size: 48px;
    padding-top: 52px;
    text-align: center;
}
.contact-item-container {
    display: flex;
    flex-direction: column;
    gap: 37px;
    padding-top: 65px;
}
.contact-item {
    background: #00508A;
    border-radius: 10px;
    color: #FFF;
    display: block;
    font-size: 28px;
    margin: 0 auto;
    padding: 14px;
    position: relative;
    text-align: center;
    width: 325px;
}
.contact-item:hover {
    background: #213547;
}
.contact-item:hover.arrow::after {
    border-top: 3px solid #213547;
    border-right: 3px solid #213547;
}
.arrow::before {
    background: #FFF;
    border-radius: 50%;
    bottom: 0;
    content: "";
    height: 37px;
    margin: auto;
    right: 12px;
    position: absolute;
    top: 0;
    vertical-align: middle;
    width: 37px;
}
.arrow::after {
    border-top: 3px solid #00508A;
    border-right: 3px solid #00508A;
    bottom: 0;
    content: "";
    height: 14px;
    margin: auto;
    right: 24px;
    position: absolute;
    top: 0;
    transform: rotate(45deg);
    width: 14px;
}

.footer-nav {
    background: #0173C6;
    padding: 25px 50px;
}
.footer-nav-list {
    align-items: center;
    display: flex;
    gap: 21px;
    justify-content: end;
}
.footer-nav-item {
    cursor: pointer;
    color: #FFF;
    font-size: 18px;
}
.footer-nav-item a {
    font-family: "Lato";
    position: relative;
}
.footer-nav-item a::after {
    background-color: #FFF;
    bottom: -3px;
    left: 0;
    height: 2px;
    content: "";
    position: absolute;
    transform: scale(0,1);
    transform-origin: left top;
    transition: transform 0.3s;
    width: 100%;
}
.footer-nav-item a:hover::after{
    transform: scale(1,1);
}
.footer-copyright {
    background: #3A3A3A;
    color: #FFF;
    font-size: 18px;
    text-align: center;
    padding: 12px;
}
.br-sp {
    display: none;
}
@media screen and (max-width:1200px) {
    .about-card {
        width: 770px;
    }
}
@media screen and (max-width:1024px) {
    header {
        padding: 25px 50px;
    }
    .about-card {
        width: 620px;
    }
    .about-card-content {
        flex-direction: column;
    }
    .about-card-content__text {
        width: 100%;
       }
    .skills-item-container {
        width: 650px;
    }

    .works-item__title {
        font-size: 18px;
    }
    
}
@media screen and (max-width:767px) {
    
    header {
        padding: 25px;
    }
    .header-logo img {
        width: 180px;
    }
    .header-nav {
        display: none;
    }
    .hamburger {
        display: block;
    }
    .top-img img {
        width: 350px;
    }
    #about {
        padding: 0;
    }
   .about-card {
    border-radius: 0;
    width: 100%;
   }
   .about-card::after {
    display: none;
   }
   .about-card-content__profile {
    width: 60%;
   }
   .skills-item-container {
    width: 100%;
    padding: 108px 20px 0;
}
   .skills-item {
    width: 50%;
   }
   .skills-item img {
    width: 80px;
   }
   .works-item-container {
    flex-direction: column;
    padding: 108px 70px 0;
   }
   .works-item {
     width: 100%;
   }
}
@media screen and (max-width:480px) {
    .works-item-container {
        padding: 108px 20px 0;
       }
}