* { 
    font-family: "Noto Sans JP", "Lato", sans-serif;
}

header {
    align-items: center;
    background: #0173C6;
    display: flex;
    justify-content: space-between;
    padding: 25px 50px;
}
.header-logo img {
    height: 46px;
    width: 257px;
}
.header-nav-list {
    display: flex;
    gap: 21px;
}
.header-nav-item {
    cursor: pointer;
    font-family: "Lato";
    color: #FFF;
    font-size: 24px;
}
