* { 
    font-family: "Noto Sans JP", "Lato", sans-serif;
}

header {
    align-items: center;
    background: #0173C6;
    display: flex;
    justify-content: space-between;
    padding: 25px 50px;
}
.header-logo img {
    height: 46px;
    width: 257px;
}
.header-nav-list {
    display: flex;
    gap: 21px;
}
.header-nav-item {
    cursor: pointer;
    color: #FFF;
    font-size: 24px;
}
.header-nav-item a {
    font-family: "Lato";
    position: relative;
}
.header-nav-item a::after {
    background-color: #FFF;
    bottom: -3px;
    left: 0;
    height: 2px;
    content: "";
    position: absolute;
    transform: scale(0,1);
    transform-origin: left top;
    transition: transform 0.3s;
    width: 100%;
}
.header-nav-item a:hover::after{
    transform: scale(1,1);
}

.top{
    align-items: center;
    background: linear-gradient(90deg, rgba(168,202,240,1) 0%, rgba(233,240,250,1) 100%);
    display: flex;
    justify-content: center;
    padding: 80px 0;
}
#about {
    padding: 90px 0;
}
.about-card {
    background: #00508A;
    border-radius: 22px;
    color: #FFF;
    max-width: 1000px;
    margin: 0 auto;
    padding-bottom: 60px;
    position: relative;
}
.about-card::after {
    background: #DDDEDF;
    border-radius: 26px;
    content: "";
    height: 710px;
    position: absolute;
    right: 54px;
    left: -12px;
    transform: rotate(3deg);
    top: -10px;
    width: 1017px;
    z-index: -1;
}
.about-card__title {
    font-family: "Lato";
    font-size: 64px;
    padding-top: 60px;
    text-align: center;
}
.about-card-content {
    align-items: center;
    display: flex;
    gap: 31px;
    justify-content: center;
    padding: 60px 62px 0 62px;
}
.about-card-content__profile {
    text-align: center;
}
.about-card-content__profile--img {
    background: #FFF;
    border-radius: 50%;
    height: 350px;
    width: 350px;
}
.about-card-content__profile--img img {
    width: 100%;
}
.about-card-content__profile p {
    font-family: "Lato";
    font-size: 32px;
    padding-top: 36px;
}
.about-card-content__text {
    font-size: 25px;
    max-width: 450px;
    line-height: 40px;
}
#skills {
    background: linear-gradient(90deg, rgba(168,202,240,1) 0%, rgba(233,240,250,1) 100%);
    padding-bottom: 120px;
}
.skills-title {
    color: #1A3348;
    font-family: "Lato";
    font-size: 64px;
    padding-top: 52px;
    text-align: center;
}
.skills-item-container {
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    display: flex;
    gap: 100px;
    padding-top: 108px;
    max-width: 750px;
    margin: 0 auto;
}
.skills-item {
    height: auto;
    width: 120px;
}
#works {
    padding-bottom: 110px;
}
.works-title {
    color: #1A3348;
    font-family: "Lato";
    font-size: 64px;
    padding-top: 52px;
    text-align: center;
}
.works-item-container {
    justify-content: center;
    flex-wrap: wrap;
    display: flex;
    gap: 32px;
    padding-top: 108px;
    max-width: 1040px;
    margin: 0 auto;
}
.works-item {
    padding-bottom: 50px;
    width: calc(50% - 32px);
}
.works-item__title {
    color: #1A3348;
    font-size: 26px;
    text-align: center;
    padding-bottom: 24px;
}
.works-item img {
    width: 100%;
}
#contact {
    background: linear-gradient(90deg, rgba(168,202,240,1) 0%, rgba(233,240,250,1) 100%);
    padding-bottom: 118px;
}
.contact-title {
    color: #1A3348;
    font-family: "Lato";
    font-size: 64px;
    padding-top: 52px;
    text-align: center;
}
.contact-item-container {
    display: flex;
    flex-direction: column;
    gap: 37px;
    padding-top: 65px;
}
.contact-item {
    background-color: #00508A;
    border-radius: 10px;
    color: #FFF;
    display: block;
    font-size: 28px;
    margin: 0 auto;
    padding: 14px;
    position: relative;
    text-align: center;
    width: 325px;
}
.arrow::before {
    background: #FFF;
    border-radius: 50%;
    bottom: 0;
    content: "";
    height: 37px;
    margin: auto;
    right: 12px;
    position: absolute;
    top: 0;
    vertical-align: middle;
    width: 37px;
}
.arrow::after {
    border-top: 3px solid #00508A;
    border-right: 3px solid #00508A;
    bottom: 0;
    content: "";
    height: 14px;
    margin: auto;
    right: 24px;
    position: absolute;
    top: 0;
    transform: rotate(45deg);
    width: 14px;
}

.footer-nav {
    background: #0173C6;
    padding: 25px 50px;
}
.footer-nav-list {
    align-items: center;
    display: flex;
    gap: 21px;
    justify-content: end;
}
.footer-nav-item {
    cursor: pointer;
    color: #FFF;
    font-size: 24px;
}
.footer-nav-item a {
    font-family: "Lato";
    position: relative;
}
.footer-nav-item a::after {
    background-color: #FFF;
    bottom: -3px;
    left: 0;
    height: 2px;
    content: "";
    position: absolute;
    transform: scale(0,1);
    transform-origin: left top;
    transition: transform 0.3s;
    width: 100%;
}
.footer-nav-item a:hover::after{
    transform: scale(1,1);
}
.footer-copyright {
    background: #3A3A3A;
    color: #FFF;
    font-size: 18px;
    text-align: center;
    padding: 12px;
}